#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: Avenir,Century Gothic,sans-serif;
  font-size: calc(10px + 2vmin);
  font-style: normal;
  font-weight: 100;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 40px
}

.App-sidebar {
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background-color: hsla(0,0%,100%,.1);
  height: 100%;
  left: 0;
  overflow-x: hidden;
  padding-left: 20px;
  position: fixed;
  top: 0;
  width: 250px
}

.App-page {
  padding-left: 300px;
  top: 0
}

.App-row {
  flex-direction: row;
  gap: 10px 20px;
  padding-right: 40px
}

.App-row,.container {
  align-items: center;
  display: flex
}

.container {
  flex-direction: row wrap
}

.Header {
  display: flex;
  flex-direction: row;
  padding-top: 10px
}

.Logo {
  display: flex;
  height: calc(10px + 2vmin);
  padding-right: 10px;
  padding-top: 35px
}

.Menu {
  color: #fff
}

.Menu-item {
  align-items: flex-start;
  color: #fff;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0 0 35px
}

ul {
  padding-left: 5px
}

/* a {
  align-items: center;
  color: #fff;
  display: flex;
  flex: 0 1 auto;
  margin: 0;
  position: relative;
  text-decoration: none
} */

.Card {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: hsla(0,0%,100%,.1);
  box-shadow: 0 15px 25px hsla(0,2%,50%,.2);
  margin-bottom: 30px;
  width: 300px
}

.Card,.List {
  border-radius: 24px;
  font-size: medium;
  text-align: center
}

.List {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: hsla(0,0%,100%,.092);
  box-shadow: 0 15px 25px hsla(0,2%,50%,.154);
  padding: 20px 20px 40px;
  width: 100vw
}

.filters {
  display: flex;
  margin-left: 150px;
  padding-bottom: 20px;
  padding-top: 10px
}

.queryFilters {
  margin-right: 18px
}

.priceFilters {
  margin-right: 10px
}

.btn {
  background-color: #483d8b;
  color: #fff;
  font-family: Avenir
}

th {
  margin-right: 50px;
  padding-bottom: 10px;
  text-align: center
}

td {
  width: 1000px
}

table {
  border-spacing: 10px;
  margin-left: 10px;
  text-align: center
}