#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: #000;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(./assets/images/backgroundimg.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 0 5px 2px #0000004d;
  transform-style: preserve-3d;
  font-weight: 700;
  height: 350px;
  width: 600px;
  cursor: pointer;
  transition: .15s;
  transform: perspective(1000px) rotateX(var(--rotate-X, 0));
  background-color: #f9efe3;
}

.card:hover {
  box-shadow: 0 0 5px 2px #00000080
}

.card.flipped {
  --rotate-X: 180deg;
}

.card.correct {
  background-color: #72ef78;
}

.card.incorrect {
  background-color: #ed6d6d;
}

.card .back {
  transform: rotateX(180deg);
}

.card .front, .card .back {
  position: absolute;
  padding: 5px;
  justify-content: center;
  backface-visibility: hidden;
}

.card img {
  height: 200px;
  width: 300px;
}

button {
  margin: 0px 8px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: .6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color .25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}