:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;

  --white: #ffffff;
  --light-gray: #ededed;
  --dark-gray: #545E75;
  --black: #000000;
  --light-blue: #63ADF2;
  --dark-blue: #304D6D;
  --mid-blue: #82A0BC;

  color-scheme: light dark;
  color: var(--black);
  background-color: var(--light-gray);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

p {
  font-size: 1em;
}

a {
  color: var(--black);
  text-decoration: none;
  font-weight: 500;
  margin-left: 15px;
  margin-right: 15px;
}

a:hover {
  color: var(--light-blue);
}

i:hover {
  color: var(--dark-gray);
  cursor: pointer;
}

::-moz-selection { /* Code for Firefox */
  background: var(--light-gray);
}

::selection {
  background: var(--light-gray);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dark-gray);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: var(--dark-blue);
  color: var(--light-gray);
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

input, textarea {
  background-color: var(--white);
  color: var(--black);
  font-family: inherit;
  font-size: 1em;
  line-height: 1.5;
}